<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理系统</title>

    <!-- axios -->
    <script type="text/javascript" src="/static/axios.min.js"></script>
    <!-- element-ui + vue -->
    <link rel="stylesheet" href="/static/element-ui.css">
    <script src="/static/vue.js"></script>
    <script src="/static/element-ui.js"></script>
</head>
<body>
{% raw %}


<!-- <div class="contaier"> -->


    <div id="app">

        <!-- Single button -->
        <el-row type="flex" class="row-bg" justify="center">

            <el-col :span="20">
                <div class="grid-content">
        <div>
            <el-dropdown>
                <el-button type="primary">
                    队列状态<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item ><el-link :underline="false" @click="finish_list" type="primary">完成列表</el-link></el-dropdown-item>
                  <el-dropdown-item ><el-link :underline="false" @click="wait_list" type="primary">等待列表</el-link></el-dropdown-item>
                  <el-dropdown-item ><el-link :underline="false" @click="fail_list" type="primary">失败列表</el-link></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <el-button style="margin-left: 10px;" @click="show_status" type="success">显示状态</el-button>
            <el-button @click="config_file" type="warning">设置配置文件</el-button>  
        </div>
        

        <br>
        <div>
            <el-tag type="success" style="margin-right: 10px;">完成数量：{{queue_num.finish_queue}}</el-tag>
            <el-tag type="warning" style="margin-right: 10px;">等待数量：{{queue_num.wait_queue}}</el-tag>
            <el-tag type="danger" style="margin-right: 10px;">失败数量：{{queue_num.fail_queue}}</el-tag>
            <el-button @click="get_queue_num" size="small" type="primary" class="el-icon-refresh-left" circle></el-button>  
        </div>
        <br>
        
        <div v-if="todos">
            <template v-if="seen_finish">
                <h3 style="text-align: center">{{ title }}</h3>                
                <el-table
                    ref="multipleTable"
                    :data="todos"
                    tooltip-effect="dark"
                    style="width: 100%"
                    border
                    @selection-change="handleSelectionChange">
                    <el-table-column type="index" label="序号" width="55"></el-table-column>
                    <el-table-column prop="time_start" label="开始时间"></el-table-column>
                    <el-table-column prop="filename" label="完整路径"></el-table-column>
                    <el-table-column prop="url" label="上传地址"></el-table-column>
                    <el-table-column prop="data_id" label="文件名"></el-table-column>
                    <el-table-column prop="cameracode" label="网点ID"></el-table-column>
                    <el-table-column prop="resultAddress" label="回调地址"></el-table-column>
                    <el-table-column prop="fail_num" label="失败次数" width="110"></el-table-column>
                    
                    <el-table-column v-if="title==='失败列表'" prop="error_code" label="错误码"></el-table-column>
                    
                    <el-table-column v-if="title==='失败列表'" label="上传" >
                        <template slot-scope="scope">
                            <el-button
                                size="medium"
                                class="el-icon-upload" circle
                                @click="upload(scope.row['data_id'])">
                            </el-button>
                                                   
                        </template>
                    </el-table-column>
                    
                    <el-table-column type="selection" label="全选" width="55"></el-table-column>


                </el-table>
            </template>
            <div v-if="title==='失败列表'">
                <el-button type="primary" class="el-icon-upload" @click="upload_all" style="float: right; margin-top: 1em;" >一键上传</el-button>
            </div>
        </div>
        <div v-else>
            <p v-if="seen_finish">暂无数据</p>
        </div>

        <!-- 状态表 -->
        <div v-if="todos_status">
            <div v-if="seen_status">
                <template>
                    <h3 style="text-align: center">视频源状态</h3>
                    <el-table
                        :data="todos_status"
                        style="width: 100%"
                        border>
                        <el-table-column
                        prop="num"
                        label="视频序号"
                        width=180
                        >
                        </el-table-column>
                        <el-table-column
                        prop="rtsp_url"
                        label="视频源地址"
                        >
                        </el-table-column>
                        <el-table-column
                        prop="status"
                        label="状态"
                        >
                        <template slot-scope="scope">
                            
                            <div v-if="scope.row.status === 'fail'">
                                <el-tag type="danger">失败</el-tag>
                            </div>
                            <div v-if="scope.row.status === 'normal'">
                                <el-tag type="success">正常</el-tag>
                            </div>                        
                        </template>
                        

                        </el-table-column>
                        <el-table-column
                        prop="fail_num"
                        label="失败次数"
                        >
                        </el-table-column>
                    </el-table>
                </template>
               
            </div>
        </div>
        <div v-else>
            <p v-if="seen_status">暂无数据</p>
        </div>

                <div id="app_form" v-if="seen_form">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-lg-10 col-lg-offset-1"> -->
                            <el-form ref="form" :model="form">

                                    <template>
                                        <h3 style="text-align: center">视频源地址</h3>
                                        <el-table
                                            :data="RTSP_list"
                                            style="width: 100%"
                                            border>
                                            <el-table-column type="index" label="序号" width=180></el-table-column>
                                            <el-table-column prop="rtsp_url" label="视频地址"></el-table-column>
                                            <el-table-column prop="cameracode" label="网点ID"></el-table-column>
                                            <el-table-column prop="url" label="上传地址"></el-table-column>
                                            <el-table-column prop="resultAddress" label="回调地址"></el-table-column>
                                            <el-table-column label="操作">
                                            <template slot-scope="scope">
                                                <el-button
                                                size="medium"
                                                @click="handleEdit(scope.$index, scope.row),  dialogFormVisible = true" class="el-icon-edit" circle></el-button>
                                                <el-button
                                                  size="medium"
                                                  type="danger"
                                                  @click="handleDelete(scope.$index, scope.row)" class="el-icon-delete" circle></el-button>
                                            </template>
                                            </el-table-column>
                                        </el-table>
                                        <br>
                                        <el-button size="small" type="primary" @click="createRTML" style="float:right">新增</el-button>

                                    </template>

                                    <el-dialog title="修改视频源地址" :visible.sync="dialogFormVisible" :before-close="handleClose">
                                        <el-form :model="form">
                                            <el-form-item label="视频源地址" :label-width="formLabelWidth">
                                            <el-input v-model="form.form_RTSP_url" autocomplete="off"></el-input>
                                            </el-form-item>

                                            <el-form-item label="网点ID" :label-width="formLabelWidth">
                                            <el-input v-model="form.form_cameracode" autocomplete="off"></el-input>
                                            </el-form-item>
                                            <el-form-item label="上传地址" :label-width="formLabelWidth">
                                                <el-input v-model="form.form_url" autocomplete="off"></el-input>
                                            </el-form-item>
                                            <el-form-item label="回调地址" :label-width="formLabelWidth">
                                                <el-input v-model="form.form_resultAddress" autocomplete="off"></el-input>
                                            </el-form-item>

                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="formSubmit ">保 存</el-button>
                                        </div>
                                    </el-dialog>
                                <br>
                                <div>
                                    <el-row :gutter="50">
                                        <el-col :span="6"><div class="grid-content bg-purple">
                                            <el-form-item label="切片时间(s)">
                                                <el-input v-model="cut_time" type="text" placeholder="每个视频的切片时间"></el-input>
                                                </el-form-item>
                                        </div></el-col>
                                        <el-col :span="6"><div class="grid-content bg-purple">
                                            <el-form-item label="切片总时间(min)">
                                                <el-input v-model="times" type="text" placeholder="总路数切片需要的时间"></el-input>
                                            </el-form-item>
                                        </div></el-col>
                                    </el-row>
                                </div>

                                <div>
                                    <el-row :gutter="50">
                                        <el-col :span="6"><div class="grid-content bg-purple">
                                            <el-form-item label="过期时间(天)">
                                                <el-input v-model="expire" type="text" placeholder="过期时间"></el-input>
                                                </el-form-item>
                                        </div></el-col>
                                        <el-col :span="6"><div class="grid-content bg-purple">
                                            <el-form-item label="清理间隔时间(天)">
                                                <el-input v-model="timing" type="text" placeholder="每隔多长时间清理文件"></el-input>
                                            </el-form-item>
                                        </div></el-col>
                                    </el-row>
                                </div>


                                <el-switch
                                    v-model="flag"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    active-text="启动程序"
                                    >
                                </el-switch>
                                <el-button  @click="submit_config" type="primary right" style="float: right;">修改配置</el-button>
                            </el-form>

                        <!-- </div> -->
                    <!-- </div> -->
                </div>


            </div>
        </el-col> 
    </el-row>    
            </div>
        </div>
    </div>
<!-- </div> -->
{% endraw %}
    
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                //visible: false,
                title: '完成列表',
                RTSP_list: [{
                    "rtsp_url":"",
                    "cameracode":"",
                    "url":"",
                    "resultAddress":""
                }],
                cut_time: '',
                times: '',
                flag: true,
                expire: '',
                timing: '',


                seen_finish: true,
                seen_status: false,
                seen_form: false,
                check_list:[],
                check_all:false,
                todos: [
                    {
                        "data_id": "",
                        "fail_num": 0,
                        "filename": "",
                        "resultAddress": "",
                        "time_start": "",
                        "url": "",
                        'error_code':0,
                    },
                ],
                todos_status:[
                    {
                        "fail_num": "",
                        "num": 0,
                        "rtsp_url": "",
                        "status": ""
                    }
                ],
                queue_num: [
                    {
                        "finish_queue": 0,
                        "wait_queue": 0,
                        "fail_queue": 0
                    }
                ],
                dialogFormVisible: false,
                form: {
                    form_index:0,
                    form_RTSP_url: '',
                    form_cameracode: '',
                    form_url:'',
                    form_resultAddress:''
                },
                formLabelWidth: '120px'
            }
        },

        mounted() {
            // 进入页面自动调用此函数
            const self = this
            axios.post("/finish_list").then((data) => {
                console.log("finish_list: ", data)

                self.todos = data.data
                self.seen_finish = true
                self.seen_status = false
                self.seen_form = false

            })
            .catch((err) => {
                console.log("err: ", err)
            })
            // 请求队列数
            axios.post("/queue_num").then((data) => {
                console.log("queue_num: ", data)
                self.queue_num = data.data
            })
            .catch((err) => {
                console.log("err: ", err)
            })

        },
        methods: {
            get_queue_num:function(){
                const self = this

                axios.post("/queue_num").then((data) => {
                console.log("queue_num: ", data)
                self.queue_num = data.data
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            show_status: function () {
                const self = this
                axios.post("/status").then((data) => {
                    console.log("status: ", data)
                    if(data){
                        self.todos_status = data.data
                        
                    }else {
                        self.todos_status = ''

                    }
                    self.seen_finish = false
                    self.seen_status = true
                    self.seen_form = false
                    self.title = '视频源状态'
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            config_file: function () {
                const self = this
                axios.get("/config_file").then((data) => {
                    console.log("config_file: ", data)
                    if(data){

                        self.cut_time = data.data['cut_time'],
                        self.times = data.data['times'],
                        self.flag = data.data['flag']

                        self.expire = data.data['expire'],
                        self.timing = data.data['timing'],


                        self.RTSP_list = data.data['RTSP_list']

                    }
                    self.seen_finish = false
                    self.seen_status = false
                    self.seen_form = true
                    self.title = ''

                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            submit_config: function () {
                const self = this
                axios.post("/config_file", {
                    "cut_time": self.cut_time,
                    "times": self.times,
                    "RTSP_list": self.RTSP_list,
                    "expire": self.expire,
                    "timing": self.timing,

                    "flag": self.flag,
                }).then((data) => {
                    console.log("submit_config: ", data)
                    self.cut_time = data.data['cut_time']
                    self.times = data.data['times']
                    self.RTSP_list = data.data['RTSP_list']

                    self.title = ''
                    self.expire = data.data['expire']
                    self.timing = data.data['timing']

                    self.seen_finish = false
                    self.seen_status = false
                    self.seen_form = true

                    self.$message({
                        showClose: true,
                        message: '保存成功',
                        type: 'success'
                    });
                  

                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            finish_list: function () {
                const self = this
                axios.post("/finish_list").then((data) => {
                    console.log("finish_list: ", data)
                    self.todos = data.data
                    self.seen_finish = true
                    self.seen_status = false
                    self.seen_form = false
                    self.title = '完成列表'
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            wait_list: function () {
                const self = this
                axios.post("/wait_list").then((data) => {
                    console.log("wait_list: ", data)
                    self.todos = data.data
                    self.seen_finish = true
                    self.seen_status = false
                    self.seen_form = false
                    self.title = '等待列表'
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            fail_list: function () {
                const self = this
                axios.post("/fail_list").then((data) => {
                    console.log("data: ", data)

                    self.todos = data.data
                    self.seen_finish = true
                    self.seen_status = false
                    self.seen_form = false
                    self.title = '失败列表'
                    console.log("data: ", data.data[0])
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            upload: function (id) {
                const self = this
                console.log(id) //视频id
                axios.post("/upload", {
                    "data_id": id
                }).then((data) => {
                    console.log("data: ", data)
                    console.log("data: ", data.data['success'])
                    if (data.data['success'] == 1){
                        alert("上传成功")
                    }else{
                        alert(("上传失败"))
                    }

                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            },
            upload_all:function(){
                const self = this
                // 获取所有的勾选列表，并上传给后台

                axios.post("/upload_all", {
                    "check_list": self.check_list
                }).then((data) => {
                    console.log("data: ", data)
                    alert("成功个数=" + data.data['success'] + "  失败个数=" + data.data['fail'])
                })
                .catch((err) => {
                    console.log("err: ", err)
                })

            },
            handleSelectionChange:function (val) {
                const self = this
                self.check_list = []
                for (var i=0;i<val.length;i++)
                { 
                    self.check_list[i] = val[i]['data_id']
                }
                
            },
            check_all_func:function () {
                const self = this
                console.log(self.check_all)
                //点击全部勾选之前，是false的，这个函数执行后才变true
                if(!self.check_all){
                    $.each(self.todos, function (i, val) {
                            self.check_list[i] = val['data_id']
                        })
                }else {
                    self.check_list = []
                }
            },
            handleEdit(index, row) {
                console.log(index, row);
                const self = this
                self.form.form_index = index
                self.form.form_RTSP_url = row['rtsp_url']
                self.form.form_cameracode = row['cameracode']
                self.form.form_url = row['url']
                self.form.form_resultAddress = row['resultAddress']
            },
            handleDelete(index, row) {
                const self = this
                console.log(index, row);
                self.RTSP_list.splice(index,1)
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            },
            formSubmit:function (){
                //表单提交，修改RTSP列表里面的数组，然后上传
                const self = this
                // 修改参数
                if(self.form.form_index<self.RTSP_list.length){
                    self.RTSP_list[self.form.form_index]["cameracode"] = self.form.form_cameracode
                    self.RTSP_list[self.form.form_index]["rtsp_url"] = self.form.form_RTSP_url
                    self.RTSP_list[self.form.form_index]["url"] = self.form.form_url
                    self.RTSP_list[self.form.form_index]["resultAddress"] = self.form.form_resultAddress

                }else{
                // 新增参数
                    dic = {
                        "cameracode":self.form.form_cameracode,
                        "rtsp_url":self.form.form_RTSP_url,
                        "url":self.form.form_url,
                        "resultAddress":self.form.form_resultAddress,
                    }
                    self.RTSP_list.push(dic)
                }


                self.dialogFormVisible = false
            },
            createRTML:function(){
                // 新增一行
                const self = this
                self.dialogFormVisible = true
                self.form.form_index = self.RTSP_list.length + 1
                self.form.form_RTSP_url = ""
                self.form.form_cameracode = ""
                self.form.form_url = ""
                self.form.form_resultAddress = ""
            }
        }
    })
</script>
</body>
</html>